* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  width: 200px;
  background-color: rosybrown;
  border: 1px solid royalblue;
  display: flex;
  flex-direction: column;
}

.card_image {
  height: 200px;
}

.card_image img {
  width: 100%;
  height: 100%;
  background-color: black;
  margin-right: 1rem;
  object-fit: cover;
  object-position: top left;
}

.dati_attrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
}