* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -1rem;
  row-gap: 2rem;
}

.card {
  width: calc((100% / 4) - 1.5rem);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px gray;
}

.card_image {
  padding: 1rem;
}

.card_image img {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
  border-radius: 10px;
}

.card_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.card_details .card_details_name {
  color: brown;
}

.card_details_birth,
.card_details_awards {
  font-weight: bold;
}

.card_details .card_details_nation {
  font-weight: bold;
  font-style: italic;
}

.card_details_bio {
  margin: 0.7rem 0;
}